<div class="landing">
<div class="container">
	<div class="row text-center">
		<div class="jumbotron front-title">
		<h1> Welcome to Stukbook</h1>
		<h3> This is a place for coder </h3>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</div>
	</div>
</div>
</div>
